%h3
  = Medication.model_name.human(count: 2)
  .pull-right
    = link_to new_person_medication_path(person), class: 'btn btn-mini' do
      %i.icon-plus-sign
      = t('.add')

%table.table.table-condensed
  %tbody#medications
    - medications.each do |medication|
      %tr
        %td= medication.title
