%h3
  = Allergy.model_name.human(count: 2)
  .pull-right
    = link_to new_person_allergy_path(person), class: 'btn btn-mini' do
      %i.icon-plus-sign
      = t('.add')

%table.table.table-condensed
  %tbody#allergies
    - allergies.each do |allergy|
      %tr
        %td= allergy.title
