<footer class="footer">
  <small>
    <a href="mailto://rpavlovskyi@gmail.com/">Обратная связь</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Контакты",   '#' %></li>
      <li><%= link_to "Протоколы", '#' %></li>
    </ul>
  </nav>
</footer>